<div class="contenedor mw-100 vh-100 login-page">

  <!-- Primer elipse -->
  <div class="elipse1"></div>
  <!-- Elipse blanco -->
  <div class="elipseB"></div>
  <!-- Elipse Amarillo chico -->
  <div class="elipseAC"></div>
  <!-- Elipse Amarillo Grande -->
  <div class="elipseAG"></div>
  <!-- Elipse Chico azul marino -->
  <div class="elipseCA"></div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="carPadre">
        <div class="card">
          <div class="card-body">


            <div  class="app-selected" >
              <div class="img competitividad" >
                <a>
                  <img src="assets/img/competitividad.png">
                </a>
                <label>Competitividad</label>
              </div>
              <div class="img">
                <a href="https://diegopad2001.github.io/LoginApp2">
                  <img src="assets/img/logoestrategiadeprecios.jpeg">
                </a>
              </div>
              <div>
                <button (click)="getMyCookie()">Get Cookie</button>
                <button (click)="deleteMyCookie()">Delete Cookie</button>
              </div>


            </div>


              
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
